{% extends "warmify_dashboard/base-dash.html" %}
{% load static %}

{% block head %}
<script defer src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<script defer src="{% static 'warmify_dashboard/events-chart.js' %}"></script>
{% endblock %}

{% block header%}
<div class="d-flex justify-content-between">
    <h2 class="page-title">Events</h2>
    <form method="GET" hx-get="{% url 'events' %}" hx-trigger="change" hx-target="body" hw-swap="outerHTML" hx-push-url="true">
        <input name="date" type="date" class="form-control" value="{{ date }}" />
    </form>
</div>
{% endblock%}

{% block main %}
<div class="container-xl">
    <div class="card">
        <div class="card-body">
            <div id="events-chart" class="chart-lg mt-2">
                <events-chart filter_type="date"></events-chart>
            </div>
        </div>
    </div>
</div>

{% endblock %}
