{% extends "warmify_dashboard/base.html" %}


{% block main %}
<div class="container-xl">
    <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="height: 10rem"></div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="height: 10rem"></div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="height: 10rem"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl mt-3">
    <div class="">
        <div class="card">
            <div class="card-body" style="height: 20rem"></div>
        </div>
    </div>
</div>
<div class="container-xl mt-3">
    <div class="row row-deck row-cards">
        <div class="col-6">
            <div class="card">
                <div class="card-body" style="height: 20rem"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body" style="height: 20rem"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
