{% extends "warmify_dashboard/base-dash.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'warmify_dashboard/index.css' %}">
<script defer src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<script defer src="{% static 'warmify_dashboard/events-chart.js' %}"></script>
{% endblock %}

{% block header%}
<div class="d-flex justify-content-between">
    <h2 class="page-title">Dashboard</h2>
    <form method="GET" hx-get="{% url 'index' %}" hx-trigger="change" hx-target="body" hw-swap="outerHTML" hx-push-url="true">
        <select name="range" class="form-select">
            <option {% if day_range == "1" %}selected{% endif %} value="1">Today</option>
            <option {% if day_range == "7" %}selected{% endif %} value="7">Last 7 days</option>
            <option {% if day_range == "30" %}selected{% endif %} value="30">Last 30 days</option>
        </select>
    </form>
</div>
{% endblock%}

{% block main %}
<div class="container-xl">
    <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="stat-card-title text-secondary">TOTAL EVENTS</h3>
                    <p class="stat-card-text">{{ events_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="stat-card-title text-secondary">SAVINGS PERCENTAGE</h3>
                    <p class="stat-card-text">{{ saving_percentage }}%</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="stat-card-title text-secondary">MOST ACTIVE TIME</h3>
                    <p class="stat-card-text">{{ active_time }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="stat-card-title text-secondary">WATER USAGE</h3>
                    <p class="stat-card-text">-</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl mt-3">
    <div class="">
        <div class="card">
            <div class="card-body">
                <h3 class="status-card-title">EVENTS</h3>
                <div id="events-chart" class="chart-lg mt-2">
                    <events-chart></events-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl mt-3">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="status-card-title">TODAYS SCHEDULE</h3>
                    <div class="list-group list-group-flush" style="scroll-behavior: unset;">
                        {% for hour in schedule %}
                        <div class="list-group-item" style="scroll-behavior: unset;">
                            <div class="row align-items-center justify-content-between" style="scroll-behavior: unset;">
                                <div class="col-auto" style="scroll-behavior: unset;">
                                    {% if hour.is_now %}
                                    <strong>{{ hour.string }}</strong>
                                    {% else %}
                                    <span>{{ hour.string }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-auto" style="scroll-behavior: unset;">
                                    {% if hour.is_now %}
                                    <strong>{% if hour.is_active == 1 %}ON{% else %}OFF{% endif %}</strong>
                                    {% else %}
                                    <span>{% if hour.is_active == 1 %}ON{% else %}OFF{% endif %}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="status-card-title">SYSTEM STATUS</h3>
                    <div class="row">
                        <div class="datagrid mt-4">
                            <div class="datagrid-item">
                                <div class="datagrid-title">Controller status</div>
                                <div class="datagrid-content {% if is_up %}text-green{% else %}text-red{% endif %}">{% if is_up %}ONLINE{% else %}OFFLINE{% endif %}</div>
                            </div>
                            <div class="datagrid-item">
                                <div class="datagrid-title">Last ping</div>
                                <div class="datagrid-content">{{ last_ping }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
